  <h3>
    <a href="{{ post.url }}">
      {{ post.title }}
    </a>
  </h3>
  <span class="post-category">
    <span class="label">
      {{ post.categories | array_to_sentence_string }}
    </span>
  </span>
  <div class="post-meta">
    <a href="https://github.com/{{ post.author }}" class="post-author">
      <img src="https://github.com/{{ post.author }}.png" class="avatar" alt="{{ post.author }} avatar" width="24" height="24">
    </a>
    <span class="post-date">
      <em></em>{{ post.date | date_to_string }}</em>
    </span>
  </div>
  <div class="post-content">
    {{ post.content }}
  </div>
<hr />
