</div>
</div>

<div class="row footer">
<div class="col-md-offset-1 col-md-3">
<h3>
  <i class="fa fa-fw fa-home" aria-hidden="true"></i>
  Navigation
</h3>
<ul class="nav nav-pills nav-stacked">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation" class="active"><a href="/blog/">Blog</a></li>
  <li role="presentation"><a href="/contact.html">Contact</a></li>
</ul>
</div>

<div class="col-md-4">
<a href="http://www.makebr.com/?utm_source=defcon225.org&utm_medium=Website%20Footer&utm_campaign=Featured%20Logo" target="_blank"><img loading="lazy" alt="make.br - Makerspace & Maker Movement in Baton Rouge" border="0" height="34" src="/assets/images/icons/makebr.png" style="margin: 0 2px" title="make.br - Makerspace & Maker Movement in Baton Rouge" width="80" /></a>
<a href="http://hackersforcharity.org/?utm_source=defcon225.org&utm_medium=Website%20Footer&utm_campaign=Featured%20Logo" target="_blank"><img loading="lazy" alt="Hackers For Charity (HFC)" border="0" height="73" src="/assets/images/icons/hackers-for-charity.gif" style="margin: 0 2px" title="Hackers For Charity (HFC)" width="73" /></a>
<a href="https://www.internetdefenseleague.org/?utm_source=defcon225.org&utm_medium=Website%20Footer&utm_campaign=Featured%20Logo" target="_blank"><img loading="lazy" alt="Member of The Internet Defense League" border="0" height="60" src="/assets/images/icons/internet-defense-league.png" style="margin: 0 2px" title="Member of The Internet Defense League" width="75" /></a>
<a href="https://studio.code.org/hoc/1?utm_source=defcon225.org&utm_medium=Website%20Footer&utm_campaign=Featured%20Logo" target="_blank"><img loading="lazy" alt="HOUR of CODE Challenge" border="0" height="73" src="/assets/images/icons/code-org.png" style="margin: 0 2px" title="HOUR of CODE Challenge" width="73" /></a>
<a href="https://www.eff.org/?utm_source=defcon225.org&utm_medium=Website%20Footer&utm_campaign=Featured%20Logo" target="_blank"><img loading="lazy" alt="Electronic Frontier Foundation (EFF)" border="0" height="73" src="/assets/images/icons/eff.png" style="margin: 0 2px" title="Electronic Frontier Foundation (EFF)" width="73" /></a>
<a href="https://defcongroups.org/?utm_source=defcon225.org&utm_medium=Website%20Footer&utm_campaign=Featured%20Logo" target="_blank"><img loading="lazy" alt="DEF CON Groups" border="0" height="80" src="/assets/images/icons/defcon-groups.png" style="margin: 0 2px" title="DEF CON Groups" width="80" /></a>
<a href="https://www.meetup.com/refresh-baton-rouge/?utm_source=defcon225.org&utm_medium=Website%20Footer&utm_campaign=Featured%20Logo" target="_blank"><img loading="lazy" alt="Refresh Baton Rouge" border="0" height="80" src="/assets/images/icons/refresh-br.png" style="margin: 0 2px" title="Refresh Baton Rouge" width="75" /></a>
</div>

<div class="col-md-3">
<p class="text-center">
  <div><div id="copy">&copy; 2001 - 2020 <a href="/">DC225</a></div></div><br>
  <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
    <img loading="lazy" alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
  </a>
  <br /><br />
  <div id="copyright">
  Website by DC225 is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://defcon225.org" rel="dct:source">defcon225.org</a>
  </div>
</p>
</div>

<div class="col-xs-12">
  <div class="text-center">
    <p>
      <font size="1em">Donate <i class="fa fa-fw fa-btc"></i> 14eHqcxsjqj5kEpn6Vyw8nBZpNpktoBhwJ</font>
    </p>
  </div>
</div>
</div>
</div>
<div class="hidden-xs hidden-sm col-md-1 side right">
&nbsp;
</div>
</div>
</div>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://github.com/niklasvh/html2canvas/releases/download/0.4.1/html2canvas.js"></script>
  <script src="/assets/js/glitch.js"></script>
  <script src="/assets/js/stats.js"></script>
  <script src="/assets/js/idk.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script>
  (function($){
    $("img.lazy").lazyload({
      effect : "fadeIn"
    });
  }(jQuery));
</script>

</body>
</html>
