<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>

    <!--



DDDDDDDDDDDDD                               ffffffffffffffff                                                      222222222222222     222222222222222    555555555555555555
D::::::::::::DDD                           f::::::::::::::::f                                                    2:::::::::::::::22  2:::::::::::::::22  5::::::::::::::::5
D:::::::::::::::DD                        f::::::::::::::::::f                                                   2::::::222222:::::2 2::::::222222:::::2 5::::::::::::::::5
DDD:::::DDDDD:::::D                       f::::::fffffff:::::f                                                   2222222     2:::::2 2222222     2:::::2 5:::::555555555555
  D:::::D    D:::::D     eeeeeeeeeeee     f:::::f       ffffffcccccccccccccccc   ooooooooooo   nnnn  nnnnnnnn                2:::::2             2:::::2 5:::::5
  D:::::D     D:::::D  ee::::::::::::ee   f:::::f           cc:::::::::::::::c oo:::::::::::oo n:::nn::::::::nn              2:::::2             2:::::2 5:::::5
  D:::::D     D:::::D e::::::eeeee:::::eef:::::::ffffff    c:::::::::::::::::co:::::::::::::::on::::::::::::::nn          2222::::2           2222::::2  5:::::5555555555
  D:::::D     D:::::De::::::e     e:::::ef::::::::::::f   c:::::::cccccc:::::co:::::ooooo:::::onn:::::::::::::::n    22222::::::22       22222::::::22   5:::::::::::::::5
  D:::::D     D:::::De:::::::eeeee::::::ef::::::::::::f   c::::::c     ccccccco::::o     o::::o  n:::::nnnn:::::n  22::::::::222       22::::::::222     555555555555:::::5
  D:::::D     D:::::De:::::::::::::::::e f:::::::ffffff   c:::::c             o::::o     o::::o  n::::n    n::::n 2:::::22222         2:::::22222                    5:::::5
  D:::::D     D:::::De::::::eeeeeeeeeee   f:::::f         c:::::c             o::::o     o::::o  n::::n    n::::n2:::::2             2:::::2                         5:::::5
  D:::::D    D:::::D e:::::::e            f:::::f         c::::::c     ccccccco::::o     o::::o  n::::n    n::::n2:::::2             2:::::2             5555555     5:::::5
DDD:::::DDDDD:::::D  e::::::::e          f:::::::f        c:::::::cccccc:::::co:::::ooooo:::::o  n::::n    n::::n2:::::2       2222222:::::2       2222225::::::55555::::::5
D:::::::::::::::DD    e::::::::eeeeeeee  f:::::::f         c:::::::::::::::::co:::::::::::::::o  n::::n    n::::n2::::::2222222:::::22::::::2222222:::::2 55:::::::::::::55
D::::::::::::DDD       ee:::::::::::::e  f:::::::f          cc:::::::::::::::c oo:::::::::::oo   n::::n    n::::n2::::::::::::::::::22::::::::::::::::::2   55:::::::::55
DDDDDDDDDDDDD            eeeeeeeeeeeeee  fffffffff            cccccccccccccccc   ooooooooooo     nnnnnn    nnnnnn2222222222222222222222222222222222222222     555555555

We <3 You. Join Us.

-->
    <title>{{ page.title }} - DEF CON 225 | Baton Rouge, LA</title>
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/63306e6675736564/assets/images/dc225-300x300.jpg" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="DEF CON 225" />
    <meta property="og:title" content="{{ page.title }} - DEF CON 225 | Baton Rouge, LA" />
    {% if page.description %}
    <meta property="og:description" content="{{ page.description }}" />
    <meta description="{{ page.description }}" />
    {% else %}
    <meta property="og:description" content="DC225 is composed of students, professionals, and hobbyists that meet/discuss current topics within the fields of physical and informational security." />
    <meta description="DC225 is composed of students, professionals, and hobbyists that meet/discuss current topics within the fields of physical and informational security." />
    {% endif %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="DEF CON 225 | Baton Rouge, LA" />
    <meta name="twitter:site" content="@defcon225" />
    <meta name="twitter:domain" content="Defcon225" />

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/design.css?ver=2017-2" rel="stylesheet" />

    {% feed_meta %}
    <link rel="sitemap" href="/sitemap.xml" type="application/xml" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
<div id="content-thing">
    <div class="container-fluid">
      <div class="row">
        <div class="hidden-xs hidden-sm col-md-1 side left">
          &nbsp;
        </div>
        <div class="col-md-10">
          <div class="row logo">
            <a target="_blank" href="https://github.com/dc225">
              <img id="github" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" />
            </a>
            <a href="/">
              <canvas id="canvas"></canvas>
              <noscript>
                <img src="assets/images/logo-white.png" border="0" />
              </noscript>
            </a>
          </div>
          <div class="row header-nav">
            <div class="pull-right hidden-xs socialmedia">
                <a href="https://www.facebook.com/DC225" target="_blank">
                  <i class="fa fa-fw fa-2x fa-facebook"></i>
                </a>
                <a href="https://twitter.com/defcon225" target="_blank">
                  <i class="fa fa-fw fa-2x fa-twitter"></i>
                </a>
            </div>
            <ul class="nav nav-tabs">
              <li role="presentation"><a href="/">Home</a></li>
              <li role="presentation" class="active"><a href="/blog/">Blog</a></li>
              <li role="presentation"><a href="/contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="row content">
            <div class="col-xs-12">
