body {
  background-color: #333;
}
#github {
  position: absolute; top: 0; right: 0; border: 0;
}
.header-bg {
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  background-color: #000;
  min-height: 300px;
  max-height: 300px;
  height: 300px;
  position: relative;
  margin-top: 3px;
  margin-bottom: 7px;
  overflow: hidden;
}
.header-quote {
  background-color: #000;
  color: #fff;
  border: 0px !important;
  font-size: 200%;
}
.logo {
  background-color: #000;
  border-bottom: 3px #ff0000 solid;
}
.header-nav {
  background-color: #fff;
}
.header-nav a {
  color: #000;
}
.header-nav .active a {
  background-color: #000 !important;
  color: #fff !important;
}
.socialmedia {
  margin-top: 6px;
}
.content {
  background-color: #000;
  color: #fff;
}
.content p {
  font-size: 120%;
}
.footer {
  margin-top: 4px;
  border-top: 3px #ff0000 solid;
  background-color: #000;
  color: #fff;
}
.side .right {
  background-image: url("../images/side-left.png");
  background-size: cover;
  background-repeat: repeat-y;
}
.side .right {
  background-image: url("../images/side-right.png");
  background-size: cover;
  background-repeat: repeat-y;
}
