body {
  background-color: #ddd;
}
.header-logo {
  background-color: #FFF;
  /*background-image: url("../images/header-logo.png");
  background-repeat: no-repeat;
  background-size: cover;*/
  min-height: 125px;
  max-height: 125px;
  height: 125px;
}
#logo {
    height: 100%;
    margin: 0px 0 3px -14px;
    border-right: 1px #000 dotted;
}
.header {
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  max-height: 200px;
  height: 200px;
}
.header-nav {
  background-color: #FFF;
}
.content {
  background-color: #FFF;
  color: #000;
}
.footer {
  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 127px;
  max-height: 127px;
  height: 127px;
}
