---
layout: default
title: Blog
permalink: /blog/
author: all
---

<ol class="breadcrumb">
  <li><a href="/">DC225</a></li>
  <li class="active">Blog</li>
</ol>

<h1 class="page-title">
  Blog
</h1>

{% for post in site.posts %}
  {% include blog_article.html %}
{% endfor %}

<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES * * */
  var disqus_shortname = 'defcon225';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
