---
layout: default
---

<h2>
  {{ page.title }}
</h2>

<div class="post-meta">
  <span class="post-date">
    <b class="fa fa-fw fa-calendar"></b>
    <em>{{ page.date | date_to_string }}</em>
  </span>
</div>
<p>&nbsp;</p>
<div class="post-content">
  {{ content }}
  <p>&nbsp;</p>
  <div class="mediumRectangleSponsor" style="text-align:center"></div>
</div>

<hr />

<div id="disqus_thread"></div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'defcon225';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
<script type="text/javascript">stLight.options({publisher: "de4acbe8-0429-44fe-a539-c18580302768", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "de4acbe8-0429-44fe-a539-c18580302768", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "pinterest", "email", "sharethis"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>


<div class="col-xs-12">
  <hr />
</div>
