---
layout: default
title: Blog index
---
<span class="nt"><h1></span>Blog index<span class="nt"></h1></span>
<span class="nt"><div</span> <span class="na">class=</span><span class="s">"home"</span><span class="nt">></span>
  <span class="nt"><ul</span> <span class="na">class=</span><span class="s">"posts"</span><span class="nt">></span>
    {% for post in site.posts %}
      <span class="nt"><li></span>
        <span class="nt"><span></span>{{ post.date | date: "%b %-d, %Y" }}<span class="nt"></span></span>:
        <span class="nt"><a</span> <span class="na">class=</span><span class="s">"post-link"</span> <span class="na">href=</span><span class="s">"{{ post.url | prepend: site.baseurl }}"</span><span class="nt">></span>{{ post.title }}<span class="nt"></a></span>
      <span class="nt"></li></span>
    {% endfor %}
  <span class="nt"></ul></span>

  <span class="nt"><p</span> <span class="na">class=</span><span class="s">"rss-subscribe"</span><span class="nt">></span>subscribe <span class="nt"><a</span> <span class="na">href=</span><span class="s">"{{ "</span><span class="na">atom</span><span class="err">.</span><span class="na">xml</span><span class="err">"</span> <span class="err">|</span> <span class="na">prepend:</span> <span class="na">site</span><span class="err">.</span><span class="na">baseurl</span> <span class="err">}}"</span><span class="nt">></span>via Atom<span class="nt"></a></p></span>
<span class="nt"></div></span>
